:root{
    background: silver;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    
    grid-template-areas:
      "result2 result2 result2 result2"
      "symbol symbol symbol symbol"
      "Result Result Result Result"
      "button button button button"
      "button button button button"
      "button button button button"
      "button button button button"
      "button button button button";
    margin-left: 40%;
    margin-right: 40%;
    border: 2px solid black;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(179, 170, 170);
  }
 
  .button-0 {
    grid-column: 1/3;
  }
/* Button colors */
.grid-container > button:hover {
    background-color: rgb(150, 147, 147);
  }

  .grid-container > button:active {
    background-color: rgb(125, 126, 126);
  } 

.grid-container > .operator:hover{
    background-color: rgb(250, 187, 69);
}

.grid-container > .operator:active {
    background-color: rgb(241, 171, 41);
} 

.button, .button-0 {
    color:white;
    border: 1px solid black ;
    border-radius: 30px;
    background-color: gray;
    outline: none;
  }

.operator {
    color:white;
    border: 1px solid black ;
    border-radius: 30px;
    background-color: orange;
    outline: none;
}
  
  .button-AC, .button-C, .button-p {
    color:white;
    border: 1px solid black ;
    border-radius: 30px;
    background-color: rgb(97, 95, 95);
    outline: none;
  }
  

.result2 {
       grid-area: result2; 
       text-align: right;
    }

.Result { 
    grid-area: Result;
    text-align: right;
}

.symbol {
    grid-area: symbol;
    text-align: right;
}

