:root{
    background: cadetblue;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
      "result2 result2 result2 result2"
      "symbol symbol symbol symbol"
      "Result Result Result Result"
      "number number number number"
      "number number number number"
      "number number number number"
      "number number number number"
      "number number number number";
    margin-left: 40%;
    margin-right: 40%;
    border: 1px solid black ;
    border-radius: 5px;
    
  }
  
.result2 {
       grid-area: result2; 
       text-align: right;
    }

.Result { 
    grid-area: Result;
    text-align: right;
}

.symbol {
    grid-area: symbol;
    text-align: right;
}

.cero { grid-area: 3 / 1 / 4 / 3; }







  
  
  